<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/stockwatcher/login</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>stockService</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.StockServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>stockService</servlet-name>
    <url-pattern>/stockwatcher/stock</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>stockPrices</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.JsonStockData</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>stockPrices</servlet-name>
    <url-pattern>/stockwatcher/stockPrices</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>yahooQuoteService</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.YahooStockServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>yahooQuoteService</servlet-name>
    <url-pattern>/stockwatcher/yahooQuote</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>stockIndexService</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.StockIndexServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>stockIndexService</servlet-name>
    <url-pattern>/stockwatcher/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>scheduledInit</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.ScheduledInit</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>scheduledInit</servlet-name>
    <url-pattern>/stockwatcher/cron/init</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>tickerList</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.TickerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tickerList</servlet-name>
    <url-pattern>/stockwatcher/tickerlist</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>refreshStock</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.RefreshStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>refreshStock</servlet-name>
    <url-pattern>/stockwatcher/cron/refreshStock</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>refreshStock3</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.RefreshStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>refreshStock3</servlet-name>
    <url-pattern>/stockwatcher/backends/refreshStock</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>stockCalculateAllIndexes</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.StockCalculateAllIndexes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stockCalculateAllIndexes</servlet-name>
    <url-pattern>/stockwatcher/stockCalculateAllIndexes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>getTopNIndexStocks</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.GetTopNIndexStocks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTopNIndexStocks</servlet-name>
    <url-pattern>/stockwatcher/getTopNIndexStocks</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>calculateBestStocksAverages</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.StockCalculateTopNAverages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculateBestStocksAverages</servlet-name>
    <url-pattern>/stockwatcher/calculateBestStocksAverages</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>refreshstock2</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.RefreshStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>refreshstock2</servlet-name>
    <url-pattern>/_ah/start</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>StockWatcher.html</welcome-file>
  </welcome-file-list>

</web-app>
